html {
  width: 100%;
  display: flex;
}

body {
  width: 100%;
  margin: auto;
  background-color: #151515;

}

:root {
  --pad: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: auto;
  gap: var(--pad);
  position: relative;
}

.left-section {
  flex: 1;
  min-height: 10000px;
  padding: var(--pad);
}

.right-section {
  position: sticky;
  width: 50%;
  top: 0;
  padding: var(--pad);
  max-height: calc(100vw - 40px);
}

@media screen and (max-width: 920px) {
  .right-section {
    display: none;
  }
}