html {
  width: 100%;
  display: flex;
}

:root {
  --pad: 16px;
  --dark-grey: rgb(36, 35, 31);
  --large: rgb(235, 23, 97);
  --medium: rgb(146, 200, 49);
  --small: rgb(116, 198, 204);
  --text: rgb(185, 185, 185);
  --white: rgb(255, 255, 255);
}

.light-mode {
  --dark-grey: rgb(255, 255, 255);
  --large: rgb(72, 75, 106);
  --medium: rgb(99, 102, 125);
  --small: rgb(147, 148, 165);
  --text: rgb(147, 148, 165);
  --white: rgb(32, 32, 32);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--large);
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--medium)
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--blue);
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: var(--text);
}

body {
  width: 100%;
  margin: auto;
  background-color: var(--dark-grey);
  transition: background-color 100ms linear;
}

@font-face {
  font-family: "Consolas";
  src: url('../../public/CONSOLA.TTF');
}

p,
h1,
h2,
h3 {
  font-family: "Consolas";
  transition: color 100ms linear;
}


* {
  margin: 01;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: auto;
  gap: var(--pad);
  position: relative;
}

.left-section {
  flex: 1;
  min-height: 10000px;
  padding: var(--pad);
  max-width: 50%;
}

.right-section {
  position: fixed;
  width: 50%;
  top: 0;
  left: 50%;
  padding: var(--pad);
  max-height: calc(100vh - 32px);

}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--small);
  transition: color 200ms linear;
}

.separator {
  height: 1px;
  background-color: var(--light-grey);
}

@media screen and (max-width: 920px) {
  .right-section {
    display: none;
  }
}