html {
  width: 100%;
  display: flex;
}

:root {
  --pad: 16px;
  --dark-grey: rgb(36, 35, 31);
  --large: rgb(235, 23, 97);
  --medium: rgb(146, 200, 49);
  --blue: rgb(116, 198, 204);
  --text: rgb(185, 185, 185);
  --white: rgb(255, 255, 255);
}

/* light mode: */
/* @media (prefers-color-scheme: light) {
  :root {
    --dark-grey: rgb(255, 255, 255);
    --large: rgb(138, 69, 160);
    --medium: rgb(208, 97, 143);
    --blue: rgb(226, 34, 65);
    --text: rgb(36, 35, 31);
    --white: rgb(36, 35, 31);
  }
} */

.light-mode {
  --dark-grey: rgb(255, 255, 255);
  --large: rgb(138, 69, 160);
  --medium: rgb(208, 97, 143);
  --blue: rgb(226, 34, 65);
  /* --text: rgb(185, 185, 185); */
  --text: rgb(32, 32, 32);
  --white: rgb(32, 32, 32);
}

h1 {
  font-size: 2rem;
  font-family: Arial;
  font-weight: 700;
  color: var(--large);
}

h2 {
  font-size: 1.5rem;
  font-family: Arial;
  font-weight: 700;
  color: var(--medium)
}

h3 {
  font-size: 1.25rem;
  font-family: Arial;
  font-weight: 700;
  color: var(--blue);
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
}

body {
  width: 100%;
  margin: auto;
  background-color: var(--dark-grey);
  transition: background-color 100ms linear;
}

p h1 h2 h3 {
  transition: color 100ms linear;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: auto;
  gap: var(--pad);
  position: relative;
}

.left-section {
  flex: 1;
  min-height: 10000px;
  padding: var(--pad);
}

.right-section {
  position: sticky;
  width: 50%;
  top: 0;
  padding: var(--pad);
  max-height: calc(100vw - 40px);
}

.separator {
  height: 1px;
  background-color: var(--light-grey);
}

@media screen and (max-width: 920px) {
  .right-section {
    display: none;
  }
}